doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, \
      minimum-scale=1, user-scalable=no")
    style body { background: #073642; padding: 0px; margin: 0px; }
    title Flappy SkilStak
  body
    script(src="js/phaser.js")

    script(src="js/flapper.js")
    script(src="js/pipe.js")

    script(src="js/boot.js")
    script(src="js/preload.js")
    script(src="js/start.js")
    script(src="js/play.js")
    script(src="js/end.js")
    
    script.
      var game = new Phaser.Game(320,568); 
      game.state.add('boot',Flappy.Boot);
      game.state.add('preload',Flappy.Preload);
      game.state.add('start',Flappy.Start);
      game.state.add('play',Flappy.Play);
      game.state.add('end',Flappy.End);
      game.state.start('boot');

