doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    style body { background: black; padding: 0px; margin: 0px; }
    title Flappy SkilStak
  body
    script(src="js/phaser.min.js")
    script(src="js/flapper.js")
    script(src="js/pipe.js")
    script(src="js/play.js")
    script.
      var game = new Phaser.Game(320,568); 
      game.state.add('Play',Flappy.Play);
      game.state.start('Play');

